body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/015/610/068/large/artur-sadlos-leg-double-sh050-background-as-v003.jpg?1548955686);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    background-color:  rgb(240, 240, 240);
    width: 1500px;
    height: 50px;
    
}



nav a {
    position: relative;
    color: #b8860b;
    text-decoration: none;
    margin-right: 30px;
    font-size: 25px;
    
    
}

nav a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color:  rgb(85, 28, 85);
    top: 0;
    left: 0;
}

nav a:hover::before {
    width: 100%;
    transition: width 0.5s linear;
}

nav a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgb(85, 28, 85);
    bottom: -4px;
    left: 0;
}

nav a:hover::after {
    width: 100%;
    transition: width 0.5s linear;
}

h1 {
    color: white;
    text-align: center;
}

#estrela {
    width: 20%;
}
#principal {
    
    background: transparent;
    border: solid 2px; 
    border-radius: 20px;
    width: 350px;
    height: 260px;
    margin: 50px;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    color: #b8860b;
}

#principal:hover { 
    
    background-color: rgb(85, 28, 85);
    border: solid 2px rgb(85, 28, 85);
}


select {
    padding: 4px;
    border-radius: 6px;
    background-color: whitesmoke;
    border: 3px solid #b8860b;
    
    
    
    
}
.infCamp {
    background: transparent;
    border: solid 2px #b8860b; 
    border-radius: 20px;
    width: 300px;
    margin: 50px;
    padding: 2em;
    transition: 1s;
    font-size: 16px;
    color: white;
    
    
    
    
    
}

.infCamp:hover { 
    
        background-color: rgb(85, 28, 85);
        border: solid 2px rgb(85, 28, 85);
        
    }




#descCamp {

    background:  #b8860b; 
    border: solid 2px #b8860b; 
    border-radius: 20px;
    width: 300px;
    height: 430px;
    margin: 50px;
    padding: 2em;
    transition: 1s;
    font-size: 14px;
    color: white;
    position: absolute;
    left: 800px;
    top: 230px;
   
    


}



#descCamp:hover{
    background-color: rgb(85, 28, 85);
    border: solid 2px rgb(85, 28, 85);
}
input {
    border: solid 2px #b8860b;
    background-color: whitesmoke;
    padding: 4px;
    border-radius: 6px;
    
}

#imgCamp {
    
    background: transparent;
    border-radius: 20px;
    width: 300px;
    margin: 50px;
    padding: 2em;
    transition: 1s;
    font-size: 16px;
    color: white;
    position: absolute;
    left: 410px;
    top: 100px;
}
.descSpell {
    background:  #b8860b; 
    border: solid 2px #b8860b; 
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin: 50px;
    padding: 2em;
    transition: 1s;
    font-size: 14px;
    color: white;
    position: absolute;
    left: 820px;
    top: 730px;
}

.descSpell:hover{
    background-color: rgb(85, 28, 85);
    border: solid 2px rgb(85, 28, 85);

}

.icon {
    border-radius: 50px;
    position: relative;
    left: 500px;
    bottom: 130px;
}
#logo {
    width: 30%;
    position: absolute;
    right: 50px;
    top: 80px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 198px;
    background-color:  rgb(240, 240, 240);
    width: 1500px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#b8860b;
    
    
}